*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

/*navbar*/
.top-nav{
    /*position: sticky;*/
    width: 100%;
    height: 80px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(202, 68, 27);
    color: antiquewhite;
    padding: 1rem 1rem;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

ul li{
    padding: 0.5rem 1rem;
}

ul li a{
    text-decoration: none;
    color: antiquewhite;
}




/*Login dropdown*/
.dropdown-content{
    position: fixed;
    display: none;
    top: 90px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px 30px;
    background-color: #f5f5fa;
    color: #583b05;
    border: 5px outset rgb(133, 112, 93);
}

input[type=email] {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    margin-top: 10px;
    display: block;
}

input[type=password] {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    margin-bottom: 10px;
    display: block;
}

.user-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-welcome {
    font-size: 30px;
    margin-bottom: 15px;
}
.form-button {
    margin-bottom: 10px;
    background-color: #b66e44;
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}
.create-member{
    display: block;
    font-size: small;
    text-align: center;
}

.create-member a{
    color: blue;
}

/*Navbar icon*/
.hamburger-icon {
    width: 30px;
    display: none;
}

.hamburger-icon:before,
.hamburger-icon:after,
.hamburger-icon div {
    background: #fff;
    content: "";
    display: none;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}
.hamburger-icon:hover:before {
transform: translateY(12px) rotate(135deg);
}
.hamburger-icon:hover:after {
transform: translateY(-12px) rotate(-135deg);
}
.hamburger-icon:hover div {
transform: scale(0);
}

/*navbar responsive*/
@media only screen and (max-width: 600px) {
    /*before burger click*/
    .top-nav-links{
        display: none;
    }
    /*after burger click*/
    .top-nav-links-mobile{
        display: block;
        position: absolute;
        top: 80px;
        width: 100vw;
        padding: 50px 0px;
        background-color: #33383b;
        color: #666;
    }
    .languages-option{
        padding: 0px;
    }
    .nav-right {
        display: flex;
        flex-direction: column;
    }
        /*wip*/
        .dropdown-content{
            position: sticky;
            top: 300px;
        }

    /*hamburger icon*/
    .hamburger-icon:before,
    .hamburger-icon:after,
    .hamburger-icon div {
        display: block;
    }
    .hamburger-icon {
        display: block;
    }

}


/*banner*/
/*banner image*/
.welcome-header{
    background: linear-gradient( 
     to bottom right,
      rgba(204, 135, 7, 0.445),
      rgba(255, 255, 255, 0.486)
      ),
      url("visuals/pancake-banner.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #664200;
    height: 60%;
}

/*banner title*/
.title-special{
    font-family: cursive;
    font-size: 60px;
    color: rgb(202, 68, 27);
    text-decoration: underline;
    text-transform: uppercase;
}

.header-title{
    padding: 2vw 6vw 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-title h1{
    font-size: 60px;
    margin: 2rem 2rem 0rem 5rem;
    line-height: 5rem;
}

/*banner content*/
.header-content{
    padding: 2vw 6vw 0;
}

.header-content h4{
    width: 40%;
    font-size: 20px;
    margin: 0rem 2rem 2rem 5rem;
    line-height: 1.5rem;
    text-align: justify;
    color: #8a573a;
}

@media only screen and (max-width: 700px) {
    .header-content h4 {
        width: 60%;
    }
}
/*banner button style*/
.create-button{
    margin: 0.5rem 2rem 2rem 5rem;
    display: inline-block;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: rgb(230, 100, 80);
    font-size: 15px;
    height: fit-content;
    padding: 8px 24px;
    border-radius: 50px;
    background-color: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgba(177, 11, 11, 0.15), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.create-button:hover{
   box-shadow: inset 0px 0px 5px #979393;
}

.create-button:active{
    background-color: #ff9e77;
}
    
/*Media Query for : banner title, content and button*/
@media only screen and (max-width: 900px) {
    .header-title h1{
        font-size: 40px;
        margin: 1rem 1rem 0rem 1rem;
        line-height: 3rem;
    }
    .title-special{
        font-size: 40px;
    }
    .header-content h4{
        font-size: 15px;
        margin: 0rem 1rem 0rem 1rem;
        line-height: 1.5rem;
    }
    .header-content button{
        margin: 1rem 2rem 2rem 1rem;
    }
}

/*sub header*/

.header-qualities{
    background-color: rgb(199, 178, 111);
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #523500;
}
.sub-qualities{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}
.sub-qualities img{
    width:100px; 
    height:100px;
}

div .txt{
    padding-left: 15px;
}



@media only screen and (max-width: 850px) {
    .header-qualities{
        display: block;
        align-items: center;
        justify-content: space-around;
    }
    .sub-qualities{
        padding: 20px;
    }
    .sub-qualities img{
        width:60px; 
        height:60px;
    }
}


/*main : personalized pancakes*/

main {
    background-color: #e5e5f7;
    opacity: 1;
    background-size: 26px 26px;
    background-image: repeating-linear-gradient(45deg, #b6b9ff 0, #b6b9ff 2.6px, #e5e5f7 0, #e5e5f7 50%);
}

/*magic pattern source: https://www.magicpattern.design/tools/css-backgrounds*/
.pancakes-personalized{
    padding: 0 10vw 10vw;
}

.pancakes-personalized h2 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #412700;
    padding: 50px;
}

@media only screen and (max-width: 800px) {
    .pancakes-personalized h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 6vw;
        padding: 50px;
    }
}


/*personalized 1*/
.personalized-style-set h3{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 7px;
    padding: 1rem;
    color: #ff702d;
}

.pancake-sizes {
    border: 10px outset rgb(133, 112, 93);
    background-color: rgba(217, 193, 170, 0.682);
    padding: 2vw 10vw 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slidecontainer {
    transform: rotate(270deg);
}

#slide-value{
    color: #6b422a;
    font-weight: bold;
}

/*need to stack input and images horizontaly on center*/
#sizes-img{
    width: 250px;
}
.sizes-sub-2{
    position: absolute;
    left: 50%;
}
.sizes-sub-1{
    margin-top: 100px;
    margin-right: 200px;
}


input[type=range] {
    padding: 5px;
}


/*personalized 2*/
.pancake-flavours{
    border: 10px outset rgb(133, 112, 93);
    background-color: rgba(217, 193, 170, 0.682);
    padding: 5vw 10vw 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flavours-sub-1{
    transform: rotate(90deg);
    width: fit-content;
}

.flavours-sub-2 img{
    width: 250px;
    height: 200px;
}

.flavoursButtons{
    color: #6b422a;
    font-weight: bold;
}

input[type=radio] + label{
    padding: 10px;
}

@media only screen and (max-width: 1100px) {
    .flavoursButtons{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/*personalized 3*/
.topping-variants {
    background-color: rgba(255, 209, 139, 0.493);
    border: 4px inset rgb(133, 112, 93);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    max-height: 200px;
    max-width: 500px;
    min-height: 200px;
    overflow-y: auto;
}

.topping {
    /*display: inline-block;*/
    border: 3px outset rgb(133, 112, 93);
    color: #ffffff;
    background-color: #b43300;
    line-height: 100px;
    margin: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.toppingClicked {
    background-color: rgb(246, 75, 75);
    border: 5px inset rgb(133, 112, 93);
}
.topping:hover{
    background-color: rgb(246, 75, 75);
    cursor: pointer;
}
.topping-list{
    display: block;
}


@media only screen and (max-width: 400px) {
    .topping{
        font-size: xx-small;
        line-height: 60px;
        width: 60px;
        height: 60px;
    }
    div.topping-variants{
        width: 200px;
    }
}
@media only screen and (max-width: 280px) {
    div.topping-variants{
        width: 150px;
    }
}
/******filter*******/
.hidden {
    display: none;
}
/******************/

.pancake-toppings {
    border: 10px outset rgb(133, 112, 93);
    background-color: rgba(217, 193, 170, 0.682);
    padding: 5vw 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toppings-filter {
    transform: rotate(270deg);
}
#toppings-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* Style the filter buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    }
    
    .btn:hover {
    background-color: #ddd;
    }
    
    .btn:active {
    background-color: #666;
    color: white;
    }

@media only screen and (max-width: 800px) {
    .topping-variants {
        border: #c01e18 solid 5px;
        background-color: rgba(255, 209, 139, 0.493);
        border: 4px inset rgb(133, 112, 93);
        height: 200px;
        width: 250px;
    }
}


/*responsive setup for 3 sections*/
@media (max-width: 900px) {
    .toppings-filter {
        transform: rotate(0deg);
        padding: 5vw 0 5vh;
        margin-left: 0px;
    }
    .flavours-sub-1{
        transform: rotate(0deg);
    }
    .slidecontainer{
        transform: rotate(0deg);
    }
    main {
        padding: 5vw;
    }

    /*1*/
    .pancake-sizes {
        padding: 5vw;
    }
    .personalized-style-set h3{
        font-size: 20px;
    }
    .sizes-sub-2{
        position: absolute;
        margin: 0 auto;
        margin-top: 80px;
        left: 0;
        right: 0;
    }
    .sizes-sub-1{
        margin: 0 auto;
        margin-bottom: 20vh;
    }

    /*2*/
    .pancake-flavours {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 5vw;
    }
    .flavours-sub-1 h3{
        font-size: 20px;
    }

    /*3*/
    .pancake-toppings {
        display: flex;
        justify-content: center;
        flex-direction: column; /* NEW */
        align-items: center;
        flex-wrap: wrap;
        padding: 5vw;
    }
    .toppings-filter h3 {
        font-size: 20px;
    }
}

/*place order*/
.personalized-result{
    background-color: #b6b9ff;
    color: rgb(0, 21, 80);
    padding: 8vh;
}

.result{
    display: grid;
    place-items: center;
}
.command-head{
    text-align: center;
    padding: 20px;
}

.result-button {
    text-transform: uppercase;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: rgb(230, 100, 80);
    font-size: 20px;
    height: fit-content;
    padding: 8px 24px;
    border-radius: 50px;
    background-color: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgba(177, 11, 11, 0.15), 0 1px 3px 0 rgb(93 100 148 / 20%);
}

.result-button:hover{
    box-shadow: inset 0px 0px 5px #979393;
}

.result-button:active{
    background-color: #d8c3ff;
}



/*Basket / order */
.interactive-cart {
    position: fixed;
    left: 80vw;
    top: 90vh;
    text-shadow: 1px 1px 0px #ff0000;
}
.fa-basket-shopping {
    color: rgb(38, 38, 143);
}
.cart-value {
    background-color: rgb(83, 172, 255);
    color: rgb(255, 232, 232);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    left: 35px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}



/*testimony / partner footer*/

.our-partners {
    justify-content: center;
    color: whitesmoke;
    margin: 2.5rem;
}

.testimonyIntro {
    margin: 10px;
    display: block;
    color: rgb(56, 5, 5);
    text-align: center;
}

.testimonyClients {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.testimonyClients span {
    color: lightsalmon;
}

.profileBox {
    display: flex;
    max-width: 400px;
    background-color: rgb(5, 26, 53);
    border-radius: 15px;
    padding: 30px;
    margin: 2.5rem;

}

.profileThumb {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 15px;
}
p.profileMsg{
    font-size: 10px;
    text-align: justify;
    margin: 15px;
}
.profileMsg b{
    font-size: 13px;
}

.profileButtons{
    display: flex;
    justify-content: center;
}

.profileButtons i {
    font-size: 30px;
    margin: 10px;
    color: tomato;
}


@media only screen and (max-width: 500px){
    .testimonyClients {
        display: block;
    }
}
@media only screen and (max-width: 950px) {
    .profileBox {
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}






/*Temporary Footer, credit : https://codepen.io/slstudios/pen/XbzQVK*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.footer-distributed{
	background: rgb(138, 32, 0);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans';
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center p{
    display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-center .footer-icon{
    width: 20px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 10px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}