*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

/*navbar*/
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #802000;
    color: antiquewhite;
    padding: 1rem 1rem;
}

.top-nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

ul li{
    padding: 0.5rem 1rem;
}

ul li a{
    text-decoration: none;
    color: antiquewhite;
}

/*Login dropdown*/

.dropdown-content{
    position: absolute;
    display: none;
    top: 90px;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px 30px;
    background-color: #f5f5fa;
    color: #583b05;
    border: 5px solid rgb(160, 137, 137);
}

/* .link-login:hover .dropdown-content{
    display: block;
    transition-delay: 0s;
} */


input[type=email] {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    margin-top: 10px;
    display: block;
}

input[type=password] {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    margin-bottom: 10px;
    display: block;
}

.user-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-welcome {
    /*border: 5px solid red;*/
    font-size: 30px;
    margin-bottom: 15px;
}
.form-button {
    margin-bottom: 10px;
    background-color: #972510;
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}
.create-member{
    display: block;
    font-size: small;
    text-align: center;
}
.create-member a{
    color: blue;
}


/*banner*/
/*banner image*/
.welcome-header{
    background: linear-gradient(
      rgba(255, 236, 236, 0.664), 
      rgba(61, 15, 15, 0.411)
      ),
      url("visuals/pancake-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #583b05;
    height: 60%;
}

/*banner title*/
.title-special{
    font-size: 60px;
    color: #ff4655;
    text-decoration: underline;
    text-transform: uppercase;
}

.header-title{
    padding: 2rem 2rem 1rem;
}

.header-title h1{
    font-size: 60px;
    margin: 2rem 2rem 0rem 5rem;
    line-height: 5rem;
}

/*banner content*/
.header-content{
    padding: 1rem 2rem 2rem;
    color: #972510;

}

.header-content h4{
    width: 50%;
    font-size: 25px;
    margin: 0rem 2rem 2rem 5rem;
    line-height: 1.5rem;
    text-align: justify;
}


/*banner button style*/
.header-content button{
    margin: 0.5rem 2rem 2rem 5rem;
    display: inline-block;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: rgb(230, 100, 80);
    font-size: 15px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgba(177, 11, 11, 0.15), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.header-content button:hover{
   box-shadow: inset 0px 0px 5px #979393;
}
    
/*Media Query for : banner title, content and button*/
@media only screen and (max-width: 900px) {
    .header-title h1{
        font-size: 40px;
        margin: 1rem 1rem 0rem 1rem;
        line-height: 3rem;
    }
    .title-special{
        font-size: 40px;
    }
    .header-content h4{
        font-size: 15px;
        margin: 0rem 1rem 0rem 1rem;
        line-height: 1.5rem;
    }
    .header-content button{
        margin: 1rem 2rem 2rem 1rem;
    }
}

